/*
  Type
  ---------
*/

* { box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; }

body {
  color: #605848;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 17px;
  word-wrap: break-word;
  margin: 0;
}


/*
  Layout
  ---------
*/

@media screen and (min-width: 600px) {
  .TwoGalaxies-layoutFixed {
    width: 600px;
    margin: 0 auto;
  }
}


.TwoGalaxies-layoutPadding { padding: 15px; padding-top: 0; }


/*
  States
  ---------
*/

.TwoGalaxies--isFullScreenWide {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

/* Prevent browser from showing selection when the element is touched */
.TwoGalaxies--isUnselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.TwoGalaxies--isTextCentered { text-align: center; }

/* Margins */
.TwoGalaxies--hasBottomMarginSmall { margin-bottom: 10px; }


/*
  Canvas
  ---------
*/

.TwoGalaxies-container {
  background-color: #000000;
  position: relative;
  height: 600px;
}

.TwoGalaxies-canvas {
  width: 100%;
  display: block;
}

.TwoGalaxies--isHidden { display: none; }


/*
  Hud display
  ---------
*/

.TwoGalaxies-hudContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  left: 0;
  top: 0;
}

.TwoGalaxies-hudContainerChild {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.TwoGalaxies-bottomImage {
  height: 100%;
  border : 0;
}

.TwoGalaxies-button {
    display: block;
    height: 45px;
    width: 45px;
}

.TwoGalaxies-leftButton { float: left; }

.TwoGalaxies-button.TwoGalaxies--isHidden { display: none; }

/*
  Frames per sec
  ---------
*/

.TwoGalaxies-FPS {
    color: #999999;
    font-size: 12px;
    position: absolute;
    right: 2px;
    bottom: 0px;
}

/*
  Left buttons
  ---------
*/

.TwoGalaxies-leftBottomButtonContainer {
  position: absolute;
  display: block;
  left: 5px;
  bottom: 5px;
  height: 45px;
}

.TwoGalaxies-doesChangeOpacityOnHover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.TwoGalaxies-doesChangeOpacityOnHover:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

/*
  Top buttons
  ---------
*/

.TwoGalaxies-leftTopButtonContainer,
.TwoGalaxies-rightTopButtonContainer {
    position: absolute;
    display: block;
    left: 5px;
    top: 5px;
    height: 45px;
}

.TwoGalaxies-rightTopButtonContainer {
    right: 5px;
    left: auto;
}


/*
  Share
  ---------
*/

.TwoGalaxies-shareText {
    width: 100%;
    min-height:60px;
    color: #555;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.TwoGalaxies-copyToClipboardButton {
    -webkit-appearance: none;
    padding: 9px 10px 9px 10px;
    background-color: #ff6c00;
    color: #fff;
    text-decoration: none;
    border-radius: 30% 10%/80%;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

/*
  Sliders
  ---------
*/

.TwoGalaxies-sliderColor1 .SickSlider-head { border-color: #ff9900; }
.TwoGalaxies-sliderColor1 .SickSlider-stripeLeft { background-color: #ff9900; }
.TwoGalaxies-sliderColor2 .SickSlider-head { border-color: #0099ff; }
.TwoGalaxies-sliderColor2 .SickSlider-stripeLeft {  background-color: #0099ff; }

/*

Sick Slider
--------------

*/

.SickSlider-slider {
  position: relative;
  height: 40px;
  cursor: pointer;
  margin-bottom: 5px;
}

.SickSlider-stripe, .SickSlider-stripeLeft {
  height: 2px;
  width: calc(100% - 30px);
  background-color: #aaaaaa;
  position: absolute;
  top: 20px;
  left: 15px;
}

.SickSlider-stripeLeft {
  background-color: #777777;
}

.SickSlider-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 40px;
  background-color: #ffffff;
  border: 3px solid #888888;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(68, 68, 68, 0.6);
}

.SickSlider-label {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
