/*

Sick Slider
--------------

*/

.SickSlider-slider {
  position: relative;
  height: 40px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* The class gets removed once the slider is initialized by JavaScript */
.SickSlider--isHidden {
    display: none;
}

.SickSlider-stripe, .SickSlider-stripeLeft {
  height: 2px;
  width: 100%;
  background-color: #aaaaaa;
  position: absolute;
  top: 20px;
  left: 0px;
}

.SickSlider-stripeLeft {
  background-color: #777777;
}

.SickSlider-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #777777;
  border-radius: 20px
}

.SickSlider-label {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

/* Prevent browser from showing selection when the element is touched */
.SickSlider--isUnselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
