h1:first-child { margin: 40px 0; }

h1 { font-size: 30px; }
h2 { font-size: 25px; }
h3 { font-size: 22px; }
h4 { font-size: 19px; }

h1, h2, h3, h4, h5 {
  color: var(--shade30);
  margin: 50px 0 30px 0;
  font-weight: 400;
}

h2 {
  border-bottom: 1px solid var(--shade90);
  padding-bottom: var(--iiMarginSmall);
}
